/*enactive Start*/
/*enactive End*/
/*enlarge Start*/
/*enlarge End*/
/*flip Start*/
/*flip End*/
/*grid Start*/
/*grid End*/
/*height Start*/
/*height End*/
/*justify-list Start*/
/*justify-list End*/
/*layoyt-tmb Start*/
.layout-tmb {
  position: relative;
}

.layout-tmb > * {
  position: absolute;
  width: 100%;
}

.layout-tmb > .hd {
  top: 0;
}

.layout-tmb > .ft {
  bottom: 0;
}

/*layoyt-tmb End*/
/*margin Start*/
/*margin End*/
/*padding Start*/
/*padding End*/
/*size Start*/
/*size End*/
/*text Start*/
/*text End*/
/**
 * @desc  triangle
 * @param $width
 * @param $height
 * @param $color
 * @param $direction: top bottom left right
 */
/**
 * @desc Use svg
 */
/*width Start*/
/*width End*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h2 {
  margin-top: 0;
}

.features, .products, .compare {
  font-size: 0;
  margin-bottom: 50px;
}

.features article {
  width: 100%;
  display: inline-block;
  font-size: 16px;
  padding-left: 1em;
  padding-right: 1em;
  width: 33.33333%;
  vertical-align: top;
}

.products article {
  background: #eee;
  width: 100%;
  display: inline-block;
  font-size: 16px;
  padding-left: 1em;
  padding-right: 1em;
  width: 33.33333%;
  vertical-align: middle;
}

.compare article {
  width: 100%;
  display: inline-block;
  font-size: 16px;
  padding-left: 1em;
  padding-right: 1em;
  width: 50%;
  vertical-align: top;
}
