/*enactive Start*/
/*enactive End*/
/*enlarge Start*/
/*enlarge End*/
/*flip Start*/
/*flip End*/
/*grid Start*/
/*grid End*/
/*height Start*/
/*height End*/
/*justify-list Start*/
/*justify-list End*/
/*layoyt-tmb Start*/
.layout-tmb {
  position: relative;
}

.layout-tmb > * {
  position: absolute;
  width: 100%;
}

.layout-tmb > .hd {
  top: 0;
}

.layout-tmb > .ft {
  bottom: 0;
}

/*layoyt-tmb End*/
/*margin Start*/
/*margin End*/
/*padding Start*/
/*padding End*/
/*size Start*/
/*size End*/
/*text Start*/
/*text End*/
/**
 * @desc  triangle
 * @param $width
 * @param $height
 * @param $color
 * @param $direction: top bottom left right
 */
/**
 * @desc Use svg
 */
/*width Start*/
/*width End*/
/*text-overflow Start*/
/*text-overflow End*/
.test {
  width: 10px;
  height: 10px;
}

.test2 {
  width: 10px;
  height: 20px;
}

.hlh20 {
  height: 20px;
  line-height: 20px;
}

.flip-x {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.flip-y {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
}

.box > .hd {
  height: 50px;
}

.box > .bd {
  top: 50px;
  bottom: 80px;
}

.box > .ft {
  height: 80px;
}

.box-without-ft > .hd {
  height: 50px;
}

.box-without-ft > .bd {
  top: 50px;
  bottom: 0;
}

.box-without-ft > .ft {
  height: 0;
}

.justify-list-demo {
  width: 800px;
  overflow: hidden;
}

.justify-list-demo > .inner {
  width: 840px;
  margin-left: -20px;
}

.justify-list-demo > .inner > .item {
  width: 185px;
  margin-left: 20px;
  float: left;
}

.line-clamp4 {
  line-height: 22px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
