/*enlarge Start*/
/*enlarge End*/
/*flip Start*/
/*flip End*/
/*grid Start*/
/*grid End*/
/*height Start*/
/*height End*/
/*margin Start*/
/*margin End*/
/*padding Start*/
/*padding End*/
/*size Start*/
/*size End*/
/*text Start*/
/*text End*/
/*triangle Start*/
/*triangle End*/
/*width Start*/
/*width End*/
.test {
  width: 10px;
  height: 10px;
}

.test2 {
  width: 10px;
  height: 20px;
}

.hlh20 {
  height: 20px;
  line-height: 20px;
}

.flip-x {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.flip-y {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
}
