/*animation Start*/
/*animation End*/
/*appearance Start*/
/*appearance End*/
/*backface-visibility Start*/
/*backface-visibility End*/
/*background Start*/
/*background End*/
/*border-radius Start*/
/*border-radius End*/
/*box-shadow Start*/
/*box-shadow End*/
/*box-sizing Start*/
/*box-sizing End*/
/*clearfix Start*/
/*clearfix End*/
/*content-columns Start*/
/*content-columns End*/
/*dib-grid Start*/
/*dib-grid End*/
/*filter Start*/
/*filter End*/
/*flexbox Start*/
/*flexbox End*/
/*flip Start*/
/*flip End*/
/*height Start*/
/*height End*/
/*margin Start*/
/*margin End*/
/*padding Start*/
/*padding End*/
/*placeholder Start*/
/*placeholder End*/
/*size Start*/
/*size End*/
/*tap-highlight-transparent Start*/
/*tap-highlight-transparent End*/
/*text-size-adjust Start*/
/*text-size-adjust End*/
/*touch-callout Start*/
/*touch-callout End*/
/*transformation Start*/
/*transformation End*/
/*transition Start*/
/*transition End*/
/**
 * @desc  triangle
 * @param $width
 * @param $height
 * @param $color
 * @param $direction: top bottom left right
 */
/**
 * @desc Use svg
 */
/*user-select Start*/
/*user-select End*/
/*width Start*/
/*width End*/
.test {
  width: 10px;
  height: 10px;
}

.test2 {
  width: 10px;
  height: 20px;
}

.hlh20 {
  height: 20px;
  line-height: 20px;
}

.flip-x {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.flip-y {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
}

* {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

.box-flex-demo {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  height: 120px;
  border: 1px solid #000;
}

.box-flex-demo > li {
  width: 1%;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  -o-box-align: center;
  box-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  -o-box-pack: center;
  box-pack: center;
}

.box-flex-demo > li > a {
  border: 1px solid #eee;
  width: 66px;
  height: 77px;
  display: block;
  position: relative;
}
