@import "../dist/webkit-sass-mixins.scss";
.test{
  @include size(10px);
}

.test2{
  @include size(10px,20px);
}

.hlh20{
  @include hlh(20px);
}

.flip-x{
  @include flip('x');
}

.flip-y{
  @include flip('y');
}

*{margin:0;padding:0;}
ul,li{
  list-style: none;
}

.orderAct{
  @include display-box;
  height: 120px;
  border: 1px solid #000;
  >li{
    width:1%;
    @include box-flex(1);
    @include display-box;
    @include box-align;
    @include box-pack;
    >a{
      border: 1px solid #eee;
      width:66px;
      height:77px;
      display: block;
      position: relative;
    }
  }
}
