@mixin enlarge($distance: -10px ,$position: absolute) {
  &:after{
    position: $position;
    content:'\200B';
    top: $distance;
    right: $distance;
    bottom: $distance;
    left: $distance;
  }
}
