/*text Start*/
@mixin text-overflow($inWidth,$inHeight) {
  max-width: $inWidth;
  height: $inHeight;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
  overflow: hidden;
}
/*text End*/
